{
    "printWidth": 120,
    "trailingComma": "all",
    "singleQuote": true,
    "importOrder": ["@mui/(.*)$", "react", "(.*)$\\.css", "^[./]", ".*(.*)$"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }
  