@import url('/node_modules/react-quill-new/dist/quill.snow.css');

.active-menu-link svg {
  color: #007fff;
}

.quill {
  height: calc(100% - 50px);
  border-radius: 10px;
}

.ql-editor td {
  border: 0;
  padding: 0 10px;
}
