name: Deploy Umzug Meister

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - '*'

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment:
      name: UM_PROD
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install modules
        run: npm install

      - name: Add package version
        uses: nyaa8/package-version@v1

      - name: Build App
        run: npm run build

      - name: Delete previous app
        uses: StephanThierry/ftp-delete-action@v2.1
        with:
          host: ${{ secrets.FTP_HOST }}
          user: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          remoteFiles: 'main.*.js;'
          remoteDirectories: ${{ vars.REMOTE_DIR }}
          ignoreSSL: '1'

      - name: FTP Upload
        uses: SamKirkland/FTP-Deploy-Action@2.0.0
        env:
          GITHUB_WORKSPACE: GITHUB_WORKSPACE
          FTP_SERVER: ${{ secrets.FTP_HOST }}
          FTP_USERNAME: ${{ secrets.FTP_USER }}
          FTP_PASSWORD: ${{ secrets.FTP_PASS }}
          LOCAL_DIR: ${{ github.workspace }}/build
          REMOTE_DIR: ${{ vars.REMOTE_DIR }}
          ARGS: --transfer-all

      - name: Delete index.html file
        uses: StephanThierry/ftp-delete-action@v2.1
        with:
          host: ${{ secrets.FTP_HOST }}
          user: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          remoteFiles: '${{ vars.REMOTE_DIR }}/index.html'
          ignoreSSL: '1'
